<aside class="callout">
  <div class="text-vertical-center">
    <h2>Oldtimer Rundfahrt 125 Jahre FF Tscherms</h2>
    <h3>Samstag 7. Juni 2025</h3>
    <h3>Startgebühr: 40€</h3>
    <h3 style="color: red;">Nur Einsatzfahrzeuge!</h3>
    <p>Die Startgebühr beinhaltet die Verpflegung und eine kleine Erinnerung an unsere Rundfahrt</p>
    <p>Bei Interesse bitten wir, um eine frühzeitige Anmeldung:</p>
    <a href="https://forms.office.com/e/d94K7ihikq" target="_blank" class="btn btn-dark btn-lg">Zur Anmeldung</a>
    <a href="#route" class="btn btn-dark btn-lg" style="margin:1%;">Zur Route</a>
  </div>
</aside>