<aside id="festbetrieb" class="festbetrieb">
  <div class="text-vertical-center">
    <h2>Festbetrieb</h2>
    <h3>Ort: Festplatz Tscherms</h3>
    <br>
    <table>
      <tr>
        <td style="padding: 10px; text-align: center;">
          <strong>Festplatz</strong><br>
          Samstag, 7. Juni ab 17:00 Uhr<br>
          Live-Musik von Set Up und Vollbluet
        </td>
      </tr>
      <tr>
        <td style="padding: 10px; text-align: center;">
          <strong>Frühschoppen</strong><br>
          Sonntag, 8. Juni ab 11:00 Uhr<br>
          Live-Musik von Jung, Schmissig, Böhmisch
        </td>
      </tr>
      <tr>
        <td style="padding: 10px; text-align: center;">
          <strong>Feuerwehr-Helmausstellung</strong><br>
          im Pfarrsaal Tscherms<br>
          an beiden Festtagen ab 11:00 Uhr
        </td>
      </tr>
    </table>
    <br>
  </div>
</aside>
