<section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h1>125 Jahrfeier</h1>
          <hr class="large">
          <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Flyer_125.jpg">
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Flyer_125_hinten.jpg">
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  