<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>125 Jahrfeier</h1>
        <h4>Am 7. & 8. Juni 2025 lädt die Feuerwehr Tscherms zur 125 Jahrfeier inkl. Oldtimerausfahrt ein!</h4>
        <a href="{{ site.url }}jahrfeier" class="btn btn-lg btn-light">Zum Programm</a>
        <a href="https://forms.office.com/e/d94K7ihikq" target="_blank" class="btn btn-lg btn-light">Zur Anmeldung</a>
      </div>
    </div>
  </div>
</aside>
