<header id="top" class="header">
  <div class="text-vertical-center">
    <img style="max-width:20%; height:auto; background-color:black; opacity: 0.9" src="img/logo.png">
    <!-- Backgroundimage at stylish-portfolio.css -->
    <br>
    <br>
    <h1 style="color:white;"> Freiwillige Feuerwehr Tscherms</h1>
    <a href="#contact" class="btn btn-dark btn-lg" style="margin:1%;">Kontakt</a>
    <a href="{{ site.url }}jahrfeier" class="btn btn-dark btn-lg" style="margin:1%;">125 Jahrfeier</a>
  </div>
</header>
