<header id="top" class="headerjahrfeier">
  <div class="text-vertical-center">
    <!-- Backgroundimage at stylish-portfolio.css -->
    <img style="width:auto; height: 150px; display: block; margin: 0 auto; background-color: #cdcaca; opacity: 70%;" src="img/logo.png">
    <br>
    <br>
    <h1 style="color:white;">125 Jahrfeier <br> FF Tscherms</h1>
    <h2 style="color:white;">Am 7. & 8. Juni 2025</h2>
    <br>
    <br>
    <a href="#contact" class="btn btn-dark btn-lg" style="margin:1%;">Zur Oldtimer Rundfahrt</a>
    <a href="{{ site.url }}jahrfeier" class="btn btn-dark btn-lg" style="margin:1%;">Zum Festprogramm</a>
  </div>
</header>
