<aside id="rundfahrt" class="callout">
  <div class="text-vertical-center">
    <h2>Oldtimer Rundfahrt 125 Jahre FF Tscherms</h2>
    <h3>Samstag 7. Juni 2025</h3>
    <h3>Startgebühr: 40€ p.P.</h3>
    <h3 style="color: red;">Nur Einsatzfahrzeuge!</h3>
    <br>
    <table>
      <tr>
        <td style="text-align: right;">08:00</td>
        <td>Eintreffen und Anmeldung im Tschermser Dorfzentrum</td>
      </tr>
      <tr>
        <td style="text-align: right;">09:00</td>
        <td>Start in Tscherms</td>
      </tr>
      <tr>
        <td style="text-align: right;">10:00</td>
        <td>Weißwurstfrühstück beim Ansitz Mair im Korn in Algund</td>
      </tr>
      <tr>
        <td style="text-align: right;">11:00</td>
        <td>Weiterfahrt durch Meran</td>
      </tr>
      <tr>
        <td style="text-align: right;">13:00</td>
        <td>Mittagessen beim Gerätehaus der Feuerwehr Burgstall</td>
      </tr>
      <tr>
        <td style="text-align: right;">14:30</td>
        <td>Weiterfahrt in Richtung Lana</td>
      </tr>
      <tr>
        <td style="text-align: right;">15:00</td>
        <td>Umtrunk beim Gerätehaus der Feuerwehr Lana</td>
      </tr>
      <tr>
        <td style="text-align: right;">16:00</td>
        <td>Weiterfahrt in Richtung Tscherms</td>
      </tr>
      <tr>
        <td style="text-align: right;">16:30</td>
        <td>Prämierung der Teilnehmer und Abschluss der Rundfahrt</td>
      </tr>
      <tr>
        <td style="text-align: right;">17:00</td>
        <td>Beginn des Festbetriebs</td>
      </tr>
    </table>
    <br>       
    <h4>Die Startgebühr beinhaltet die Verpflegung und eine kleine Erinnerung an unsere Rundfahrt</h4>
    <h4>Bei Interesse bitten wir, um eine frühzeitige Anmeldung:</h4>
    <a href="#route" class="btn btn-dark btn-lg" style="margin:1%;">Zur Route</a>
    <br>
    <br>
    <h2>Preview</h2>
    <br>
    <video controls width="640">
      <source src="/img/rundfahrt.mp4">
    </video>
    <br>
    <br>
    <h2>Die Rundfahrt</h2>
    <br>
    <video controls width="640">
      <source src="/img/rundfahrt_drohne.mp4">
    </video>
    <h2>Route der Rundfahrt</h2>
    <br>
  </div>
</aside>