<section id="sponsoren" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Unsere Sponsoren</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-12">
              <div class="portfolio-item">
                <a href="https://www.raiffeisen.it/de/lana.html" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/raika.png">
                </a> 
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/parth.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/fs.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/tophaus.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/alpenholz.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/gasser.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/bauexpert.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/deco.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/rr.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/pfoestl.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/kofler.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/tratter.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/reitterer.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/pfoestl_helfer.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/mischi.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/kofler_fahrzeug.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/perkla.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/ramoser.png">
              </div>
            </div>  
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/flarer.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/thermosol.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/hartmann.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/sapperlot.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/lutz.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/holz-elan.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/goeg_kiem.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/wega.png">
              </div>
            </div>                      
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  