<section id="sponsoren" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Unsere Sponsoren</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/parth.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/tophaus.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/alpenholz.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/gasser.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/bauexpert.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/deco.png">
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/rr.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/pfoestl.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/kofler.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/tratter.png">
              </div>
            </div>                
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  