<section id="sponsoren" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Unsere Sponsoren</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-12">
              <div class="portfolio-item">
                <a href="https://www.raiffeisen.it/de/lana.html" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/raika.png">
                </a> 
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.zimmereiparth.com/de/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/parth.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="???" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/fs.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.tophaus.com/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/tophaus.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.alpenholz.it/de" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/alpenholz.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.gassertiefbau.com/de" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/gasser.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.bauexpert.it/de/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/bauexpert.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://decobausrl.it/de" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/deco.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://reichhalterroman.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/rr.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://pfoestl-ludwig.com/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/pfoestl.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.malerbetrieb-kofler.com/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/kofler.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.tratter.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/tratter.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.zimmereireiterer.com/de/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/reitterer.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.ingph.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/pfoestl_helfer.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.mischi.it/de/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/mischi.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.kofler-fahrzeugbau.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/kofler_fahrzeug.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.perkla.com/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/perkla.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.ramoserholz.com/de" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/ramoser.png">
                </a>
              </div>
            </div>  
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.facebook.com/flarer.spenglerei.abdichtungen/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/flarer.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.thermosol.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/thermosol.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.inghartmann.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/hartmann.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.sapperlot.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/sapperlot.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://lutzteam.it/" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/lutz.png">
                </a>
              </div>
            </div> 
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <a href="https://www.holzelan.it/de" target="_blank">
                  <img class="img-portfolio img-responsive" src="../img/Sponsoren/holz-elan.png">
                </a>
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/goeg_kiem.png">
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="../img/Sponsoren/wega.png">
              </div>
            </div>                      
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  